{{title}}
<br>
<form class="addNotebook" action="/notebooks/add" method="post">
    <div class="name">
        <span>Name: </span>
        <input name="name" type="text">
    </div>
    <button type="submit">Add</button>
</form>